{#
/**
 * Available variables
 * -------------------
 *
 * {{ results }} - AppBundle/Entity/Results
 */
#}

<div>New results are available for {{ app.user.username }}.</div>

<div><b>Case:</b> {{ results.caseStudy }}</div>
<div><b>Location:</b> {{ results.location }}</div>
<a href="{{ absolute_url( path( 'editUserResults', {'id': app.user.id} ) ) }}">View results</a>
