{% extends 'base.html.twig' %}

{% block body %}
	{{ form_start(form) }}
		{{ form_label(form.case) }}
		{{ form_errors(form.case) }}
		{{ form_widget(form.case, {'attr': {'onchange': 'updateCase()'}} ) }}

		{{ form_rest(form) }}

		<div id="description"></div>
		<button type="submit">Submit</button>

	{{ form_end(form) }}
{% endblock %}
