{% extends 'base.html.twig' %}

{% block body %}
	{% if form %}
		{{ form_start(form, {'attr': {'id': 'admin_form'}} ) }}

			{% if form.vars.name == "user" %}
				{{ form_row(form.email) }}
				{{ form_row(form.username) }}
				{{ form_row(form.uin) }}
				{{ form_row(form.plainPassword) }}
				{{ form_row(form.newPassword) }}
				{{ form_row(form.role) }}

				{{ form_rest(form) }}
			{% else %}
				{{ form_widget(form) }}
			{% endif %}

		{{ form_end(form) }}

	{% endif %}
{% endblock %}

{% block footer %}
	{% if form.vars.data.hasResults() %}
		<div class="tabs">
			<ul>
				<li><a href="{{ path('editUserResults', {'id': form.vars.data.id }) }}">View user's results</a></li>
			</ul>
		</div>
	{% endif %}

	{{ parent() }}
{% endblock %}
