{% extends 'base.html.twig' %}

{% block body %}
	{{ form_start(form) }}
		{{ form_label(form.case) }}
		{{ form_errors(form.case) }}
		{{ form_widget(form.case, {'attr': {'onchange': 'updateAdminCase()'}} ) }}

		{{ form_rest(form) }}

	{{ form_end(form) }}

	<div id="description"></div>
	<script>updateAdminCase()</script>
{% endblock %}
