{% extends 'base.html.twig' %}

{% block body %}
	{% if form %}
		{{ form_start(form, {'attr': {'id': 'admin_form'}} ) }}

				{{ form_widget(form) }}

		{{ form_end(form) }}

	{% endif %}
{% endblock %}

{% block footer %}
	{% if form.vars.id == "user" and form.vars.data.hasResults() %}
		<div class="tabs">
			<ul>
				<li><a href="{{ path('editUserResults', {'id': form.vars.data.id }) }}">View user's results</a></li>
			</ul>
		</div>
	{% endif %}

	{{ parent() }}
{% endblock %}
