{% extends 'base.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script src="{{ asset('js/jquery.collection.js') }}"></script>
	<script>
		$(function(){
			updateAdminCase();
		});
	</script>
{% endblock %}

{% block body %}
	{{ form_label(form.case) }}
	{{ form_errors(form.case) }}
	{{ form_widget(form.case, {'attr': {'onchange': 'updateAdminCase()'}} ) }}

	{{ form_rest(form) }}

	<div id="caseInfo"></div>
{% endblock %}
