{% extends 'layout.html.twig' %}

{% block userNav %}
  <a class="nav-item is-tab" href="{{ path('default') }}">Home</a>
  <a class="nav-item is-tab" href="{{ path('user') }}">Account</a>

  {% if app.user is not null and app.user.hasResults %}
    <a class="nav-item is-tab" href="{{ path('results') }}">My results</a>
  {% endif %}
{% endblock %}

{% block adminNav %}
  {% if is_granted('ROLE_ADMIN') %}
    <a class="nav-item is-tab" href="{{ path('manageUsers') }}">Manage users</a>
    <a class="nav-item is-tab" href="{{ path('manageAnimals') }}">Manage animals</a>
    <a class="nav-item is-tab" href="{{ path('editCase') }}">Edit cases</a>
    <a class="nav-item is-tab" href="{{ path('manageTests') }}">Manage tests</a>
    <a class="nav-item is-tab" href="{{ path('manageMedications') }}">Manage medications</a>
    <a class="nav-item is-tab" href="{{ path('import') }}">Import</a>
  {% endif %}
{% endblock %}

{% block flashes %}
  {% for flash in app.session.flashBag.get('success') %}
    <div class="notification is-success">{{ flash }}</div>
  {% endfor %}
  {% for flash in app.session.flashBag.get('warning') %}
    <div class="notification is-warning">{{ flash }}</div>
  {% endfor %}
  {% for flash in app.session.flashBag.get('error') %}
    <div class="notification is-danger">{{ flash }}</div>
  {% endfor %}
{% endblock %}
