{% extends 'layout.html.twig' %}

{% block userNav %}
  <a class="navbar-item is-hidden-touch" href="{{ path('default') }}">Home</a>

  {% if app.user is not null and app.user.hasResults %}
    <a class="navbar-item" href="{{ path('results') }}">My results</a>
  {% endif %}
{% endblock %}

{% block adminNav %}
  {% if is_granted('ROLE_ADMIN') %}
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link" href="javascript:void(0)">Admin</a>

      <div class="navbar-dropdown">
        <a class="navbar-item" href="{{ path('manageUsers') }}">Manage users</a>
        <a class="navbar-item" href="{{ path('manageAnimals') }}">Manage animals</a>
        <a class="navbar-item" href="{{ path('editCase') }}">Edit cases</a>
        <a class="navbar-item" href="{{ path('manageTests') }}">Manage tests</a>
        <a class="navbar-item" href="{{ path('manageMedications') }}">Manage medications</a>
        <a class="navbar-item" href="{{ path('import') }}">Import</a>
      </div>
    </div>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link" href="javascript:void(0)">Guides</a>

      <div class="navbar-dropdown">
        <a class="navbar-item" href="{{ path('guides', {guide: "animals"}) }}">Managing animals</a>
        <a class="navbar-item" href="{{ path('guides', {guide: "create-case"}) }}">Creating/editing cases</a>
        <a class="navbar-item" href="{{ path('guides', {guide: "importing"}) }}">Importing</a>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block flashes %}
  {% if app.session.flashBag.has('results') %}
    <div class="notification is-primary">
      <p>Your results for {{ app.session.flashBag.get('results') }} have been submitted.</p>
      <p>You can review your results at <a href="{{ path('results') }}">{{ path('results') }}</a></p>
    </div>
  {% endfor %}
  {% for flash in app.session.flashBag.get('success') %}
    <div class="notification is-success">{{ flash }}</div>
  {% endfor %}
  {% for flash in app.session.flashBag.get('notice') %}
    <div class="notification is-warning">{{ flash }}</div>
  {% endfor %}
  {% for flash in app.session.flashBag.get('error') %}
    <div class="notification is-danger">{{ flash }}</div>
  {% endfor %}
{% endblock %}
