{{ form_start(form, {'action': path('caseInfo', {'id': id})}) }}
	{{ form_label(form.title) }}
	{{ form_errors(form.title) }}
	{{ form_widget(form.title) }}

	{{ form_label(form.description) }}
	{{ form_errors(form.description) }}
	{{ form_widget(form.description) }}

	{{ form_label(form.hotspots) }}
	{{ form_errors(form.hotspots) }}
	{{ form_widget(form.hotspots) }}

	{{ form_label(form.testResults) }}
	{{ form_errors(form.testResults) }}
	{{ form_widget(form.testResults) }}

	{{ form_rest(form) }}
<button type="button" id="addHotspot">Add hotspot</button>
{{ form_end(form) }}
