{% extends 'base.html.twig' %}

{% block body %}
	{{ form_start(form) }}
		{{ form_label(form.case) }}
		{{ form_errors(form.case) }}
		{{ form_widget(form.case, {'attr': {'onchange': 'updateCase()'}}) }}

		{{ form_rest(form) }}
		<button type="submit">Start</button>
	{{ form_end(form) }}

	<div id="case"></div>
	<script>updateCase()</script>
{% endblock %}
