{% extends 'base.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(function(){
			updateAdminCase({{ app.session.remove('case') }});
		});
	</script>
{% endblock %}

{% block header %}
	{% for flash in app.session.flashBag.get('notice') %}
		<div class="flash-notice">{{ flash }}</div>
	{% endfor %}
{% endblock %}

{% block body %}
	{{ form_label(form.case) }}
	{{ form_errors(form.case) }}
	{{ form_widget(form.case, {'attr': {'onchange': 'updateAdminCase()'}} ) }}

	{{ form_rest(form) }}

	<div id="caseInfo"></div>
{% endblock %}
