{# app/Resources/views/hotspot.html.twig #}
{% extends 'base.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(function() {
			updateHotspots();
		});
	</script>
{% endblock %}

{% block body %}
	{% for spot in hotspots %}
		<span class="hotspot" data-path="{{ spot.id }}">{{ spot.name }}</span>
	{% endfor %}

	<a href="{{ path('order_tests') }}">Continue</a>

	<div id="checked">
	{% for spot in checked %}
		<li>{{ spot.name }}: {{ spot.info }}</li>
	{% endfor %}
	</div>
{% endblock %}

{% block footer %}
	<a href="{{ path('review') }}">Review</a>

	{{ parent() }}
{% endblock %}
