{# app/Resources/views/hotspot.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	{% for spot in hotspots %}
		<span data-path="{{ spot.id }}" onclick="updateHotspots(this)">{{ spot.name }}</span>
	{% endfor %}

	<a href="{{ path('order_tests') }}">Continue</a>

	<div id="checked">
	{% for spot in checked %}
		<li>{{ spot.name }}: {{ spot.info }}</li>
	{% endfor %}
	</div>
{% endblock %}
