<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="{{ asset('js/tooltipster.bundle.min.js') }}"></script>
      <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}"></script>
      <script src="{{ asset('js/scripts.js') }}"></script>
    {% endblock %}

    {% block stylesheets %}
      <link href="{{ asset('css/bulma.css')}}" rel="stylesheet" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="{{ asset('css/tooltipster/tooltipster.bundle.min.css') }}" rel="stylesheet" />
      <link href="{{ asset('css/tooltipster/tooltipster-sideTip-borderless.min.css') }}" rel="stylesheet" />
    {% endblock %}
  </head>
  <body>
    <div class="columns">
      <div class="column">
        <nav class="navbar">
          <div class="navbar-brand">
            <a class="navbar-item" href="http://illinois.edu">
              <img id="logo" src="{{ asset('images/I_column.png') }}" alt="Logo">
            </a>
            <a class="navbar-item is-hidden-desktop" href="{{ path('default') }}">
              <span class="icon is-small">
                <i class="fa fa-home"></i>
              </span>
            </a>
            <div class="navbar-burger burger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="navbar-menu">
            <div class="navbar-start">
              {% block userNav %}{% endblock %}
              {% block adminNav %}{% endblock %}
            </div>
          </div>
        </nav>
      </div>
    </div>

    <section class="section">
      <div class="columns">
        {% block flashes %}
        {% endblock %}
      </div>

      <div class="columns is-multiline is-desktop">
        {% block body %}{% endblock %}
      </div>

      <div id="footer" class="columns">
        {% block footer %}{% endblock %}
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p class="is-size-7-touch">©2017 University of Illinois College of Veterinary Medicine</p>
        </div>
      </div>
    </footer>
  </body>
</html>
