{% extends 'base.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(function() {
			updateCase();
		});
	</script>
{% endblock %}

{% block body %}
	{{ form_start(form) }}
		{% if case %}
			<div>You have a session in progress: <b>{{ case.title }}</b></div>
		{% else %}
			{{ form_row(form.title) }}
			{{ form_row(form.location) }}

			<div id="case"></div>
		{% endif %}

		{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}
