{#
/**
 * Available variables
 * -------------------
 *
 * {{ form }} - AppBundle/Form/DiagnosticsType
 * {{ animal_weight }} - decimal
 */
#}

{% extends 'base.html.twig' %}

{% block scripts %}
  {{ parent() }}

  <script>
    $(function() {
      addCheckboxListener();
      addHoverListener();
    });
  </script>
{% endblock %}

{% block body %}
  <div class="column is-full">
    <h1 class="title">Diagnostics - Day {{ app.user.days|length }}</h1>

    <div class="tile box">
      <div class="content">
        <p>Select diagnostic procedures from the list below. <b>Once you submit this page, you cannot come back to change your selections!</b></p>
      </div>
    </div>

    <div class="tile box" style="position: absolute; right: 1.5rem">
      <b>Total cost: $<span id="cost" data-weight="{{ animal_weight }}">0</span></b>
    </div>
  </div>

  <div class="column">
  	{{ form_start(form) }}
  	{{ form_widget(form) }}
  	{{ form_end(form) }}
  </div>
{% endblock %}

{% block footer %}
	{% if app.user.location == "Hospital" %}
		<a class="button is-primary" href="{{ path('review') }}">Review</a>
	{% endif %}

	{{ parent() }}
{% endblock %}
