{% extends 'base.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(function() {
			updateHotspots();

			{% if app.session.get('modalUp', false) %}
				modal();
			{% endif %}
		});

		function modal(event=null) {
			if( event ) {
				event.preventDefault();
			}

			$('.modal').toggleClass('is-active');
			$('.modal').load( "{{ path('differentials') }}", function() {
				$('.modal-card-body').prepend( $('#checked').children() );

				$('.delete').on('click', function() {
					$.post( "{{ path("differentials", { 'moveOn': true }) }}", function() {
						location.href = "{{ path("diagnostics") }}";
					});
				});
				$('#continue').on('click', function() {
					var input = $('#differentials').val();

					if( input.length ) {
						$.post( "{{ path("differentials", { 'moveOn': true }) }}", {explanation: input}, function(result, status, xhr) {
							location.href = "{{ path("diagnostics") }}";
						});
					}
				});
			});
		}
	</script>
{% endblock %}

{% block body %}
	{% set class = 'is-1by1' %}
	{% set closest = 3 %}
	{% set ratio = (size[0] / size[1])|number_format(3) %}

	{% if (1.33 - ratio)|abs < closest %}
		{% set class = 'is-4by3' %}
		{% set closest = (1.33 - ratio)|abs %}
	{% endif %}
	{% if (1.50 - ratio)|abs < closest %}
		{% set class = 'is-3by2' %}
		{% set closest = (1.50 - ratio)|abs %}
	{% endif %}
	{% if (1.77 - ratio)|abs < closest %}
		{% set class = 'is-16by9' %}
		{% set closest = (1.77 - ratio)|abs %}
	{% endif %}
	{% if (2 - ratio)|abs < closest %}
		{% set class = 'is-2by1' %}
	{% endif %}
	<div class="column is-half">
		<div id="hotspots" class="image {{ class }}">
			<img id="animal" src="{{ asset('images/' ~ animal.image) }}" usemap="#hotspots" />

			<map name="hotspots">
				{% for spot in animal.hotspots %}
					<area class="hotspot" shape="rect" coords="{{ spot.x1 }},{{ spot.y1 }},{{ spot.x2 }},{{ spot.y2 }}" data-path="{{ spot.id }}">
				{% endfor %}
			</map>
		</div>
	</div>

	<div id="checked" class="column">
		{% for spot in checked %}
			<li><em>{{ spot.hotspot.name }}:</em><span class="info"> {{ spot.info|raw }}</span></li>
		{% endfor %}

		{% for flash in app.session.flashBag.peek('hotspot-' ~ day.id) %}
			<li>{{ flash }}: No information available</li>
		{% endfor %}
	</div>

	<div id="modal" class="modal">
	</div>
{% endblock %}

{% block footer %}
	<div class="tabs">
		<ul>
			<li><a onclick="modal(event)">Continue</a></li>
			<li><a href="{{ path('review') }}">Review</a></li>
		</ul>
	</div>
	{{ parent() }}
{% endblock %}
