{% extends 'base.html.twig' %}

{% import _self as i %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(function() {
			updateHotspots();

			{% if app.session.get('modalUp', false) %}
				modal();
			{% endif %}

			$(window).resize(function() {
				{% for spot in animal.hotspots %}
					$('area.hotspot[data-path="{{ spot.id }}"]').attr('coords', $('#animal').innerWidth() * {{ spot.x1|number_format(2) }} + ',' + $('#animal').innerHeight() * {{ spot.y1|number_format(2) }} + ',' + $('#animal').innerWidth() * {{ spot.x2|number_format(2) }} + ',' + $('#animal').innerHeight() * {{ spot.y2|number_format(2) }} );
				{% endfor %}
			});

			$('#animal').ready(function() {
				$(window).resize();
			});
		});

		function modal(event=null) {
			if( event ) {
				event.preventDefault();
			}

			var eWeight = null;

			if( $("#estimated_weight").val() != undefined ) {
				eWeight = $("#estimated_weight").val();
			}

			$('.modal').toggleClass('is-active');
			$('.modal').load( "{{ path('differentials') }}", {estimated_weight: eWeight}, function() {
				$('.modal-card-body').prepend( $('#checked').children() );

				$('.delete').on('click', function() {
					$.post( "{{ path("differentials", { 'moveOn': true }) }}", function() {
						location.href = "{{ path("diagnostics") }}";
					});
				});
				$('#continue').on('click', function() {
					var input = $('#differentials').val();
					if( input.length ) {
						$.post( "{{ path("differentials", { 'moveOn': true }) }}", {explanation: input}, function(result, status, xhr) {
							location.href = "{{ path("diagnostics") }}";
						});
					}
				});
			});
		}
	</script>
{% endblock %}

{% block body %}
	{% set class = '' %}
	{% set closest = 3 %}
	{% set ratio = (size[0] / size[1])|number_format(3) %}

	{% if (1.00 - ratio)|abs < closest %}
		{% set class = 'is-1by1' %}
		{% set closest = (1.33 - ratio)|abs %}
	{% endif %}
	{% if (1.33 - ratio)|abs < closest %}
		{% set class = 'is-4by3' %}
		{% set closest = (1.33 - ratio)|abs %}
	{% endif %}
	{% if (1.50 - ratio)|abs < closest %}
		{% set class = 'is-3by2' %}
		{% set closest = (1.50 - ratio)|abs %}
	{% endif %}
	{% if (1.77 - ratio)|abs < closest %}
		{% set class = 'is-16by9' %}
		{% set closest = (1.77 - ratio)|abs %}
	{% endif %}
	{% if (2 - ratio)|abs < closest %}
		{% set class = 'is-2by1' %}
	{% endif %}

	{% if day.description is not empty %}
		<div class="column is-full box">{{ day.description|raw }}</div>
	{% endif %}

	{{ i.instructions(app.user.days|length) }}

	<div class="column is-half-desktop">
		<div id="hotspots" class="image {{ class }}">
			<img id="animal" src="{{ asset('images/' ~ animal.image) }}" usemap="#hotspots" />

			<map name="hotspots">
				{% for spot in animal.hotspots %}
					<area class="hotspot" shape="rect" data-path="{{ spot.id }}">
				{% endfor %}
			</map>
		</div>
	</div>

	<div id="checked" class="column is-half-desktop">
		{% for spot in checked %}
			<li><em>{{ spot.hotspot.name }}:</em><span class="info"> {{ spot.info|raw }}</span></li>
		{% endfor %}

		{% for flash in app.session.flashBag.peek('hotspot-' ~ userDay.id) %}
			<li>{{ flash }}: No information available</li>
		{% endfor %}
	</div>

	{% if app.user.location == "Farm" and app.user.days|length == 1 %}
		<div class="column is-half-desktop">
			<label class="label" required>Estimated weight (kg)</label>

			<div class="control has-icons-left">
				<input id="estimated_weight" class="input" type="text" placeholder="Weight (kg)">

				<span class="icon is-left">
					<i class="fas fa-weight"></i>
				</span>
			</div>
		</div>
	{% endif %}

	<div id="modal" class="modal">
	</div>
{% endblock %}

{% block footer %}
	<div class="tabs">
		<ul>
			<li><a onclick="modal(event)">Continue</a></li>
			<li><a href="{{ path('review') }}">Review</a></li>
		</ul>
	</div>

	{{ parent() }}
{% endblock %}

{% macro instructions(i) %}
  <div class="column is-full">
    <h1 class="title">Physical Evaluation - Day {{ i }}</h1>

    <div class="tile box">
      <div class="content">
        <p>Click the image to perform the physical evaluation</p>
      </div>
    </div>
  </div>
{% endmacro %}
