{% extends 'base.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(function() {
			updateHotspots();

			{% if app.session.get('modalUp', false) %}
				modal();
			{% endif %}
		});

		function modal(event=null) {
			if( event ) {
				event.preventDefault();
			}

			$('.modal').toggleClass('is-active');
			$('.modal').load( "{{ path('differentials') }}", function() {
				$('.modal-card-body').prepend( $('#checked').children() );

				$('.delete').on('click', function() {
					window.location.assign( "{{ path("differentials", { 'moveOn': true }) }}" );
				});
				$('#continue').on('click', function() {
					var input = $('#differentials').val();

					if( input.length ) {
						$.post( "{{ path("differentials") }}", {explanation: input}, function(result) {
							$('html').html(result)
						});
						//window.location.assign( "{{ path("differentials", { 'moveOn': true }) }}" );
					}
				});
			});
		}
	</script>
{% endblock %}

{% block body %}
	<div id="hotspots">
		<img id="animal" src="{{ asset('images/' ~ animal.image) }}" usemap="#hotspots" />

		<map name="hotspots">
			{% for spot in animal.hotspots %}
				<area class="hotspot" shape="rect" coords="{{ spot.x1 }},{{ spot.y1 }},{{ spot.x2 }},{{ spot.y2 }}" data-path="{{ spot.id }}">
			{% endfor %}
		</map>
	</div>

	<div id="checked">
		{% for spot in checked %}
			<li><em>{{ spot.hotspot.name }}:</em><span class="info"> {{ spot.info|raw }}</span></li>
		{% endfor %}

		{% for flash in app.session.flashBag.peek('hotspot-' ~ day.id) %}
			<li>{{ flash }}: No information available</li>
		{% endfor %}
	</div>

	<div id="modal" class="modal">
	</div>
{% endblock %}

{% block footer %}
	<a onclick="modal(event)">Continue</a>
	<a href="{{ path('review') }}">Review</a>

	{{ parent() }}
{% endblock %}
