{% extends 'base.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(function() {
			updateHotspots();

			$('.modal-background').on('click', function() {
				window.location.assign( "{{ path("diagnostics") }}" );
			});
		});

		function modal(event) {
			event.preventDefault();

			$('.modal').toggleClass('is-active').prepend( $('#checked').children() );
		}
	</script>
{% endblock %}

{% block body %}
	<div id="hotspots">
		<img id="animal" src="{{ asset('images/' ~ animal.image) }}" usemap="#hotspots" />

		<map name="hotspots">
			{% for spot in animal.hotspots %}
				<area class="hotspot" shape="rect" coords="{{ spot.x1 }},{{ spot.y1 }},{{ spot.x2 }},{{ spot.y2 }}" data-path="{{ spot.id }}">
			{% endfor %}
		</map>
	</div>

	<div id="checked">
		{% for spot in checked %}
			<li><em>{{ spot.hotspot.name }}:</em><span class="info"> {{ spot.info|raw }}</span></li>
		{% endfor %}

		{% for flash in app.session.flashBag.peek('hotspot-' ~ day.id) %}
			<li>{{ flash }}: No information available</li>
		{% endfor %}
	</div>

	<div id="modal" class="modal">
		<div class="modal-background"></div>
		<div class="modal-content">

		</div>
	</div>
{% endblock %}

{% block footer %}
	<a onclick="modal(event)">Continue</a>
	<a href="{{ path('review') }}">Review</a>

	{{ parent() }}
{% endblock %}
