{% extends 'base.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(function() {
			updateHotspots();

			$('.delete').on('click', function() {
				window.location.assign( "{{ path("diagnostics") }}" );
			});
			$('#continue').on('click', function() {
				// save textarea input, don't allow empty input
				var input = $('#differentials').val();

				if( input.length ) {
					document.cookie = "differentials=" + input;
					window.location.assign( "{{ path("diagnostics") }}" );
				}
			})
		});

		function modal(event) {
			event.preventDefault();

			$('.modal').toggleClass('is-active');
			$('.modal-card-body').prepend( $('#checked').children() );
		}
	</script>
{% endblock %}

{% block body %}
	<div id="hotspots">
		<img id="animal" src="{{ asset('images/' ~ animal.image) }}" usemap="#hotspots" />

		<map name="hotspots">
			{% for spot in animal.hotspots %}
				<area class="hotspot" shape="rect" coords="{{ spot.x1 }},{{ spot.y1 }},{{ spot.x2 }},{{ spot.y2 }}" data-path="{{ spot.id }}">
			{% endfor %}
		</map>
	</div>

	<div id="checked">
		{% for spot in checked %}
			<li><em>{{ spot.hotspot.name }}:</em><span class="info"> {{ spot.info|raw }}</span></li>
		{% endfor %}

		{% for flash in app.session.flashBag.peek('hotspot-' ~ day.id) %}
			<li>{{ flash }}: No information available</li>
		{% endfor %}
	</div>

	<div id="modal" class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Problems/differentials</p>
				<button class="delete"></button>
			</header>
			<section class="modal-card-body">
				<div class="field">
					<label class="label">Explanation</label>
					<p class="control">
						<textarea id="differentials" class="textarea"></textarea>
					</p>
				</div>
			</section>
			<footer class="modal-card-foot">
				<a id="continue" class="button is-success">Continue</a>
			</footer>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<a onclick="modal(event)">Continue</a>
	<a href="{{ path('review') }}">Review</a>

	{{ parent() }}
{% endblock %}
