{% extends 'base.html.twig' %}

{% block scripts %}
  {{ parent() }}

  <script>
    $(function() {
      $(".panel-tabs a").on('click', function() {
        if( !$(this).hasClass('is-active') ) {
          $('[data-result="' + $('.panel-tabs a.is-active').attr('id') + '"]').addClass('is-hidden');
          $('[data-id=' + $('[data-result="' + $('.panel-tabs a.is-active').attr('id') + '"].is-active').attr('id') + '].is-active').removeClass('is-active').addClass('is-hidden');
          $('.panel-tabs a.is-active').removeClass('is-active');
          $(this).addClass('is-active');
          $('[data-result="' + $(this).attr('id') + '"]').removeClass('is-hidden');
          $('[data-id=' + $('[data-result="' + $(this).attr('id') + '"]').attr('id') + ']').first().removeClass('is-hidden').addClass('is-active');
        }
      });

      $(".panel-block").on('click', function() {
        if( !$(this).hasClass('is-active') && !$(this).hasClass('is-danger') ) {
          $('[data-id="' + $('.panel-block.is-active').attr('id') + '"]').addClass('is-hidden');
          $('.panel-block.is-active').removeClass('is-active');
          $(this).addClass('is-active');
          $('[data-id="' + $(this).attr('id') + '"]').removeClass('is-hidden');
        }
      });
    });
  </script>
{% endblock %}

{% block body %}
  <div class="column">
  	<nav class="panel">
      <p class="panel-heading">Results{% if user is defined %} for {{ user.username }}{% endif %}</p>

      <div class="panel-tabs">
        {% for result in results %}
          <a id="result-{{ result.id }}" {% if loop.first %}class="is-active"{% endif %}>{{ result.caseStudy }}</a>
        {% endfor %}
      </div>

      {% for result in results %}
        {% for day in result.results %}
          <a id="result-{{ result.id }}-day-{{ loop.index }}" class="panel-block{% if loop.first and loop.parent.loop.first %} is-active{% endif %}{% if not loop.parent.loop.first %} is-hidden{% endif %}" data-result="result-{{ result.id }}">
            <span class="panel-icon">
              <i class="fa fa-angle-right"></i>
            </span>
            Day {{ loop.index }}
          </a>
        {% endfor %}

        {% if user is defined and is_granted('ROLE_ADMIN') %}
          <a href="/removeResult/{{ result.id }}" class="panel-block is-danger" data-result="result-{{ result.id }}">Remove</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>

  <div class="column is-two-thirds">
    {% for result in results %}
      {% for day in result.results %}
        <div data-id="result-{{ result.id }}-day-{{ loop.index }}" class="box{% if not loop.first or not loop.parent.loop.first %} is-hidden{% endif %}">
          <div id="hotspots">
            <p class="title">Physical exam results</p>

            {% for name, info in day.hotspotsInfo %}
              <div><em>{{ name }}: </em><span>{{ info|raw }}</span></div>
            {% endfor %}
          </div>

          <div id="testResults">
            <p class="title">Diagnostic results</p>

            {% for test, result in day.diagnostics %}
              <div><em>{{ test }}: </em><span>{{ result|raw }}</span></div>
            {% endfor %}
          </div>

          <div id="medicationResults">
            <p class="title">Therapeutic results</p>

            {% for medication, result in day.therapeutics %}
              <div><em>{{ medication }}: </em><span>{{ result|raw }}</span></div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
