{% extends 'base.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script src="{{ asset('js/accordion.js') }}"></script>
{% endblock %}

{% block body %}
	{% if user is defined %}
		<h2>Results for {{ user.username }}</h2>
	{% endif %}

	{% for result in results %}
		<button class="accordion">Results: {{ result.caseStudy }}</button>

		<div class="panel">
			<div class="result location">Location: {{ result.location }}</div>
			<div class="result diagnosis">Diagnosis: {{ result.diagnosis }}</div>

			{% for day in result.results %}
				<button class="accordion">Day {{ loop.index }}</button>

				<div class="panel">
					<div id="hotspots">
						{% for name, info in day.hotspotsInfo %}
							<li><em>{{ name }}:</em><span>{{ info|raw }}</span></li>
						{% endfor %}
					</div>

					<div id="testResults">
						{% for test, result in day.diagnostics %}
							<li><em>{{ test }}:</em><span>{{ result|raw }}</span></li>
						{% endfor %}
					</div>

					<div id="medicationResults">
						{% for medication, result in day.therapeutics %}
							<li><em>{{ medication }}:</em><span>{{ result|raw }}</span></li>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
		</div>

		{% if is_granted('ROLE_ADMIN') %}
    	<a href="/removeResult/{{ result.id }}">Remove</a>
		{% endif %}
  {% endfor %}
{% endblock %}
