{#
/**
 * Available variables
 * -------------------
 *
 * {{ user }} - AppBundle/Entity/User
 * {{ results }}
 *    AppBundle/Entity/Results
 *      OR
 *    array( AppBundle/Entity/Results )
 */
#}

{% extends 'base.html.twig' %}

{% block scripts %}
  {{ parent() }}

  <script>
    $(function() {
      $(".panel-tabs a").on('click', function() {
        if( !$(this).hasClass('is-active') ) {
          $("[data-result='" + $(".panel-tabs a.is-active").attr('id') + "']").each(function() {
            var id = $(this).attr("id");
            $(this).addClass('is-hidden');

            $("[data-id='" + id + "']").addClass('is-hidden');
          });

          $('.panel-tabs a.is-active').removeClass('is-active');
          $(this).addClass('is-active');

          $('[data-result="' + $(this).attr('id') + '"]').each(function() {
            var id = $(this).attr("id");
            $(this).removeClass('is-hidden');

            if( $(this).hasClass('is-active') ) {
              $('[data-id="' + id + '"]').removeClass('is-hidden');
            }
          });

          moveFooter();
        }
      });

      $(".panel-block").on('click', function() {
        if( !$(this).hasClass('is-active') && !$(this).hasClass('is-danger') ) {
          var resultid = $(this).attr("data-result");
          var id = $(this).attr("id");
          var oldPanelBlock = $("[data-result='" + resultid + "'].panel-block.is-active");
          var oldId = oldPanelBlock.attr("id");

          oldPanelBlock.find(".fa-folder-open").addClass("fa-folder").removeClass("fa-folder-open");
          $("[data-id='" + oldId + "']").addClass("is-hidden");
          oldPanelBlock.removeClass("is-active");
          $(this).addClass("is-active");
          $(this).find(".fa-folder").addClass("fa-folder-open").removeClass("fa-folder");
          $("[data-id='" + id + "']").removeClass("is-hidden");

          moveFooter();
        }
      });
    });
  </script>
{% endblock %}

{% block body %}
  <div class="column">
  	<nav class="panel">
      <p class="panel-heading">Results{% if user is defined %} for {{ user.username }}{% endif %}</p>

      <div class="panel-tabs">
        {% for result in results %}
          <a id="result-{{ result.id }}" {% if loop.first %}class="is-active"{% endif %}>{{ result.caseStudy }}</a>
        {% endfor %}
      </div>

      {% for result in results %}
        {% for day in result.results %}
          <a id="result-{{ result.id }}-day-{{ loop.index }}" class="panel-block{% if loop.first %} is-active{% endif %}{% if not loop.parent.loop.first %} is-hidden{% endif %}" data-result="result-{{ result.id }}">
            <span class="panel-icon">
              <i class="fa fa-folder{% if loop.first %}-open{% endif %}"></i>
            </span>
            Day {{ loop.index }}
          </a>
        {% endfor %}

        {% if user is defined and is_granted('ROLE_ADMIN') %}
          <a href="/courses/cs/removeResult/{{ result.id }}" class="panel-block is-danger{% if not loop.first %} is-hidden{% endif %}" data-result="result-{{ result.id }}" onclick="return confirmDelete();">Remove</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>

  <div class="column is-two-thirds-desktop">
    {% for result in results %}
      <div id="details" class="message{% if not loop.first %} is-hidden{% endif %}" data-result="result-{{ result.id }}">
        <div class="message-body">
          <h1 class="title">Location</h1><h2 class="subtitle">{{ result.location }}</h2>
          <h1 class="title">Diagnosis</h1><h2 class="subtitle">{{ result.results|last.diagnosis }}</h2>
        </div>
      </div>

      {% for day in result.results %}
        <div data-id="result-{{ result.id }}-day-{{ loop.index }}"{% if not loop.first or not loop.parent.loop.first %} class="is-hidden"{% endif %}>
          <div id="hotspots" class="message">
            <div class="message-header">
              <p class="title is-5 has-text-white">Physical examination results - Day {{ loop.index }}</p>
            </div>

            <div class="message-body">
              {% for name, info in day.hotspotsInfo %}
                <div><em>{{ name }}: </em><span>{{ info|raw }}</span></div>
              {% endfor %}

              {% if day.differentials is defined %}
                <p class="subtitle is-5"><u>Differentials</u></p>

                <div class="columns">
                  <div class="column">{{ day.differentials }}</div>
                </div>
              {% endif %}
            </div>
          </div>

          <div id="testResults" class="message">
            <div class="message-header">
              <p class="title is-5 has-text-white">Diagnostic results - Day {{ loop.index }}</p>
            </div>

            <div class="message-body">
              <div class="columns is-multiline">
                {% for dProcedure in day.diagnostics %}
                  <div class="column is-3"><em>{{ dProcedure.name }} (${{ dProcedure.cost|number_format }}):</em></div><div class="column is-9 content">{{ dProcedure.results|raw }}</div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div id="medicationResults" class="message">
            <div class="message-header">
              <p class="title is-5 has-text-white">Therapeutic results - Day {{ loop.index }}</p>
            </div>

            <div class="message-body">
              <div class="columns is-multiline">
                {% for tProcedure in day.therapeutics %}
                  <div class="column is-3"><em>{{ tProcedure.name }} (${{ tProcedure.cost|number_format }}):</em></div><div class="column is-9 content">{{ tProcedure.results|raw }}</div>
                {% endfor %}
              </div>
            </div>
          </div>

          {% if day.diagnosis is defined and not loop.last %}
            <div id="diagnosis" class="message">
              <div class="message-header">
                <p class="title is-5 has-text-white">Tentative Diagnosis</p>
              </div>

              <div class="message-body">
                {{ day.diagnosis }}
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}
