{#
/**
 * Available variables
 * -------------------
 *
 * {{ user }} - AppBundle/Entity/User
 * {{ form }} - built in AppBundle/Controller/DayController::reviewAction
 */
#}

{% extends 'base.html.twig' %}

{% import _self as m %}

{% block scripts %}
  {{ parent() }}

  <script>
    $(function() {
      $(".panel-block").on('click', function() {
        if( !$(this).hasClass('is-active') ) {
          $('[data-id="' + $('.panel-block.is-active').attr('id') + '"]').addClass('is-hidden');
          $('.panel-block.is-active').removeClass('is-active');
          $(this).addClass('is-active');
          $('[data-id="' + $(this).attr('id') + '"]').removeClass('is-hidden');

          moveFooter();
        }
      });
      $('.panel-block').each(function() {
        if( $('[data-id=' + $(this).attr('id') + ']').has('span.tag.is-success').length > 0 ) {
          $(this).children(':last-child').after('<span class="tag is-success" style="margin-right:8px">New results</span>');
        }
        if( $('[data-id=' + $(this).attr('id') + ']').has('span.tag.is-info').length > 0 ) {
          $(this).children(':last-child').after('<span class="tag is-info" style="margin-right:8px">Pending results</span>');
        }
      });
    });
  </script>
{% endblock %}

{% block body %}
  {% if user.currentProgress == 'finished' %}
    <div class="column is-full">
      <div class="tile box">
        <div class="content">
          <p>Provide a diagnosis below. <b>You cannot start a new case until you finish this one, or abandon it.</b></p>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="column">
    <nav class="panel">
      <p class="panel-heading">{{ user.caseStudy.title }}</p>

      {% for day in user.days %}
        <a id="day-{{ day.id }}" class="panel-block {% if loop.last %}is-active{% endif %}">
          <span class="panel-icon">
            <i class="fa fa-angle-right"></i>
          </span>
          Day {{ loop.index }}
        </a>
      {% endfor %}
    </nav>
  </div>

  <div class="column is-two-thirds-desktop">
    {% for day in user.days %}
      {% set n = loop.index %}
      {% set elapsed = loop.length - loop.index %}

      <div data-id="day-{{ day.id }}"{% if not loop.last %} class=" is-hidden"{% endif %}>
        <div class="message">
          <div class="message-header">
            <h2 class="title is-5 has-text-white">Physical examination results - Day {{ loop.index }}</h2>
          </div>

          <div class="message-body">
            {% for spot in day.hotspotsinfo %}
              <div><em>{{ spot.hotspot.name }}:</em><span class="info"> {{ spot.info|raw }}</span></div>
            {% endfor %}

            {% for flash in app.session.flashBag.peek('hotspot-' ~ day.id) %}
              <div><em>{{ flash }}:</em> No information available</div>
            {% endfor %}

            {% if app.session.has('differentials-' ~ day.id) %}
              <div id="differentials-{{ day.id }}">
                <p class="subtitle is-5"><u>Differentials</u></p>

                <div>{{ app.session.get('differentials-' ~ day.id) }}</div>
              </div>
            {% endif %}
          </div>
        </div>

        <div class="message">
          <div class="message-header">
            <h2 class="title is-5 has-text-white">Diagnostic results - Day {{ loop.index }}</h2>
          </div>

          <div class="message-body">
            <div class="columns is-multiline">
              {% for diagnosticResult in day.diagnosticResults %}
                {% if diagnosticResult.waitTime and ( elapsed - diagnosticResult.waitTime == 0 or diagnosticResult.waitTime < elapsed ) %}
                  <div class="column is-3">{{ elapsed - diagnosticResult.waitTime == 0 ? m.tag('New results', 'is-success') : '' }}<em>{{ diagnosticResult.diagnosticProcedure.name }} (${{ diagnosticResult.diagnosticProcedure.getPerDayCost()|number_format }}):</em></div><div class="column is-9 content"><span class="info"> {{ diagnosticResult.results|raw }}</span></div>
                {% elseif diagnosticResult.diagnosticProcedure.waitTime == 0 or diagnosticResult.diagnosticProcedure.waitTime < elapsed %}
                  <div class="column is-3">{{ elapsed - diagnosticResult.diagnosticProcedure.waitTime == 0 ? m.tag('New results', 'is-success') : '' }}<em>{{ diagnosticResult.diagnosticProcedure.name }} (${{ diagnosticResult.diagnosticProcedure.getPerDayCost()|number_format }}):</em></div><div class="column is-9 content"><span class="info"> {{ diagnosticResult.results|raw }}</span></div>
                {% elseif user.currentProgress == "finished" %}
                  <div class="column is-3"><em>{{ diagnosticResult.diagnosticProcedure.name }} (${{ diagnosticResult.diagnosticProcedure.getPerDayCost()|number_format }}):</em></div><div class="column is-9 content"><span class="info">{{ diagnosticResult.results|raw }}</span></div>
                {% else %}
                  <div class="column is-full">{{ m.tag('Pending results', 'is-info') }}<em>{{ diagnosticResult.diagnosticProcedure.name }}:</em><span> ...</span></div>
                {% endif %}
              {% endfor %}

              {% for flash in app.session.flashBag.peek('empty-diagnostic-results-' ~ day.id) %}
                {% set dFlash = find(flash, "AppBundle:DiagnosticProcedure") %}

                {% if flash is not empty %}
                  <div class="column is-full"><em>{{ dFlash.name }} (${{ dFlash.cost|number_format }}):</em> {{ dFlash.defaultResult }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="message">
          <div class="message-header">
            <h2 class="title is-5 has-text-white">Therapeutic results - Day {{ loop.index }}</h2>
          </div>

          <div class="message-body">
            <div class="columns is-multiline">
              {% for therapeuticResult in day.therapeuticResults %}
                {% if therapeuticResult.waitTime and ( elapsed - therapeuticResult.waitTime == 0 or therapeuticResult.waitTime < elapsed ) %}
                  <div class="column is-3">{{ elapsed - therapeuticResult.waitTime == 0 ? m.tag('New results', 'is-success') : '' }}<em>{{ therapeuticResult.therapeuticProcedure.name }} (${{ therapeuticResult.therapeuticProcedure.getPerDayCost()|number_format }}):</em></div><div class="column is-9 content"><span class="info"> {{ therapeuticResult.results|raw }}</span></div>
                {% elseif elapsed - therapeuticResult.therapeuticProcedure.waitTime == 0 or therapeuticResult.therapeuticProcedure.waitTime < elapsed %}
                  <div class="column is-3">{{ elapsed - therapeuticResult.therapeuticProcedure.waitTime == 0 ? m.tag('New results', 'is-success') : '' }}<em>{{ therapeuticResult.therapeuticProcedure.name }} (${{ therapeuticResult.therapeuticProcedure.getPerDayCost()|number_format }}):</em></div><div class="column is-9 content"><span class="info"> {{ therapeuticResult.results|raw }}</span></div>
                {% elseif user.currentProgress == "finished" %}
                  <div class="column is-3"><em>{{ therapeuticResult.therapeuticProcedure.name }} (${{ therapeuticResult.therapeuticProcedure.getPerDayCost()|number_format }}):</em></div><div class="column is-9 content"><span class="info"> {{ therapeuticResult.results|raw }}</span></div>
                {% else %}
                  <div class="column is-full">{{ m.tag('Pending results', 'is-info') }}<em>{{ therapeuticResult.therapeuticProcedure.name }}:</em><span> ...</span></div>
                {% endif %}
              {% endfor %}

              {% for flash in app.session.flashBag.peek('empty-therapeutic-results-' ~ day.id) %}
                {% set tFlash = find(flash, "AppBundle:TherapeuticProcedure") %}

                {% if flash is not empty %}
                  <div class="column is-full"><em>{{ tFlash.name }} (${{ tFlash.cost|number_format }}):</em> {{ tFlash.defaultResult }}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="column is-offset-one-third-desktop">
    <div class="message">
      <div class="message-header">
        <h2 class="title is-5 has-text-white">Cost breakdown</h2>
      </div>

      <div class="message-body">

        {% set totalCost = 0 %}

        {% for day in user.days %}
          {% set diagnosticCost = 0 %}
          {% set medCost = 0 %}

          <h4 class="subtitle is-5"><u>Day {{ loop.index }}</u></h4>

          <h5 class="subtitle is-6 is-spaced">
            {% for diagnosticResult in day.diagnosticResults %}
              {% set diagnosticCost = diagnosticCost + diagnosticResult.diagnosticProcedure.getPerDayCost() %}
            {% endfor %}

            {% set diagnosticCost = diagnosticCost + app.session.flashBag.peek('diagnostic-cost-' ~ day.id)|first %}

            <div>Diagnostic cost: ${{ diagnosticCost|number_format }}</div>

              {% for therapeuticResult in day.therapeuticResults %}
                {% set medCost = medCost + therapeuticResult.therapeuticProcedure.getPerDayCost() %}
              {% endfor %}

            {% set medCost = medCost + app.session.flashBag.peek('therapeutic-cost-' ~ day.id)|first %}

            <div>Therapeutic cost: ${{ medCost|number_format }}</div>

            {% set totalCost = totalCost + diagnosticCost + medCost %}
          </h5>
        {% endfor %}

        <h4 class="subtitle is-5">Total Cost: ${{ totalCost|number_format }}</h4>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% if user.currentProgress in ['review', 'finished'] %}
    <div class="column is-two-thirds-desktop is-offset-one-third-desktop is-half-widescreen">
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>
  {% else %}
    <a class="button is-primary" href="{{ path(user.currentProgress) }}">Proceed to {{ user.currentProgress }}</a>
  {% endif %}
{% endblock %}

{% macro tag(text, class) %}
  <span class="tag {{ class }}" style="margin-right:8px">{{ text }}</span>
{% endmacro %}
