{% extends 'base.html.twig' %}

{% block scripts %}
  {{ parent() }}

  <script>
    $(function() {
      $(".panel-block").on('click', function() {
        if( !$(this).hasClass('is-active') ) {
          $('[data-id="' + $('.panel-block.is-active').attr('id') + '"]').addClass('is-hidden');
          $('.panel-block.is-active').removeClass('is-active');
          $(this).addClass('is-active');
          $('[data-id="' + $(this).attr('id') + '"]').removeClass('is-hidden');
        }
      });
      $('.panel-block').each(function() {
        if( $('[data-id=' + $(this).attr('id') + ']').has('span.tag.is-success').length > 0 ) {
          $(this).children(':last-child').after('<span class="tag is-success">New!</span>');
        }
        if( $('[data-id=' + $(this).attr('id') + ']').has('span.tag.is-info').length > 0 ) {
          $(this).children(':last-child').after('<span class="tag is-info">Pending</span>');
        }
      });
    });
  </script>
{% endblock %}

{% block body %}
  {% if finished %}
    <div class="column is-full">
      <div class="tile box">
        <div class="content">
          <p>Provide a diagnosis below. <b>You cannot start a new case until you finish this one, or abandon it.</b></p>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="column">
    <nav class="panel">
      <p class="panel-heading">{{ user.caseStudy.title }}</p>

      {% for day in user.days %}
        <a id="day-{{ day.id }}" class="panel-block {% if loop.last %}is-active{% endif %}">
          <span class="panel-icon">
            <i class="fa fa-angle-right"></i>
          </span>
          Day {{ loop.index }}
        </a>
      {% endfor %}
    </nav>
  </div>

  <div class="column is-two-thirds-desktop">
    {% for day in user.days %}
      {% set n = loop.index %}
      {% set elapsed = loop.length - loop.index %}

      <div data-id="day-{{ day.id }}"{% if not loop.last %} class=" is-hidden"{% endif %}>
        <h2 class="title is-2">Physical examination results</h2>

        {% for spot in day.hotspotsinfo %}
          <div><em>{{ spot.hotspot.name }}:</em><span class="info"> {{ spot.info|raw }}</span></div>
        {% endfor %}

        {% for flash in app.session.flashBag.peek('hotspot-' ~ day.id) %}
          <div><em>{{ flash }}:</em> No information available</div>
        {% endfor %}

        {% if app.session.has('differentials-' ~ day.id) %}
          <p class="title">Differentials</p>

          <div>{{ app.session.get('differentials-' ~ day.id) }}</div>
        {% endif %}

        <h2 class="title is-2">Diagnostic results</h2>

        <div class="columns is-multiline">
          {% for testResult in day.tests %}
            {% if testResult.waitTime and ( elapsed - testResult.waitTime == 0 or testResult.waitTime < elapsed ) %}
              <div class="column is-3">{{ elapsed - testResult.waitTime == 0 ? '<span class="tag is-success">New!</span>' : '' }}<em>{{ testResult.test.name }} (${{ testResult.test.cost|number_format(2) }}):</em></div><div class="column is-9 content"><span class="info"> {{ testResult.results|raw }}</span></div>
            {% elseif testResult.test.waitTime == 0 or testResult.test.waitTime < elapsed %}
              <div class="column is-3">{{ elapsed - testResult.test.waitTime == 0 ? '<span class="tag is-success">New!</span>' : '' }}<em>{{ testResult.test.name }} (${{ testResult.test.cost|number_format(2) }}):</em></div><div class="column is-9 content"><span class="info"> {{ testResult.results|raw }}</span></div>
            {% elseif finished %}
              <div class="column is-3"><em>{{ testResult.test.name }} (${{ testResult.test.cost|number_format(2) }}):</em></div><div class="column is-9 content"><span class="info">{{ testResult.results|raw }}</span></div>
            {% else %}
              <div class="column is-full"><span class="tag is-info">Pending</span><em>{{ testResult.test.name }}:</em><span> ...</span></div>
            {% endif %}
          {% endfor %}

          {% for flash in app.session.flashBag.peek('empty-diagnostic-results-' ~ day.id) %}
            {% set dFlash = find(flash, "AppBundle:Test") %}

            {% if flash is not empty %}
              <div class="column is-full"><em>{{ dFlash.name }} (${{ dFlash.cost|number_format(2) }}):</em> {{ dFlash.defaultResult }}</div>
            {% endif %}
          {% endfor %}
        </div>

        <h2 class="title is-2">Therapeutic results</h2>

        <div class="columns is-multiline">
          {% for medResult in day.medications %}
            {% if medResult.waitTime and ( elapsed - medResult.waitTime == 0 or medResult.waitTime < elapsed ) %}
              <div class="column is-3">{{ elapsed - medResult.waitTime == 0 ? '<span class="tag is-success">New!</span>' : '' }}<em>{{ medResult.medication.name }} (${{ medResult.medication.cost|number_format(2) }}):</em></div><div class="column is-9 content"><span class="info"> {{ medResult.results|raw }}</span></div>
            {% elseif elapsed - medResult.medication.waitTime == 0 or medResult.medication.waitTime < elapsed %}
              <div class="column is-3">{{ elapsed - medResult.medication.waitTime == 0 ? '<span class="tag is-success">New!</span>' : '' }}<em>{{ medResult.medication.name }} (${{ medResult.medication.cost|number_format(2) }}):</em></div><div class="column is-9 content"><span class="info"> {{ medResult.results|raw }}</span></div>
            {% elseif finished %}
              <div class="column is-3"><em>{{ medResult.medication.name }} (${{ medResult.medication.cost|number_format(2) }}):</em></div><div class="column is-9 content"><span class="info"> {{ medResult.results|raw }}</span></div>
            {% else %}
              <div class="column is-full"><span class="tag is-info">Pending</span><em>{{ medResult.medication.name }}:</em><span> ...</span></div>
            {% endif %}
          {% endfor %}

          {% for flash in app.session.flashBag.peek('empty-therapeutic-results-' ~ day.id) %}
            {% set tFlash = find(flash, "AppBundle:Medication") %}

            {% if flash is not empty %}
              <div class="column is-full"><em>{{ tFlash.name }} (${{ tFlash.cost|number_format(2) }}):</em> {{ tFlash.defaultResult }}</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="column is-offset-one-third-desktop">
    <h2 class="title is-2">Cost breakdown</h2>

    {% set totalCost = 0 %}

    {% for day in user.days %}
      {% set testCost = 0 %}
      {% set medCost = 0 %}

      <h4 class="subtitle is-4">Day {{ loop.index }}</h4> 

        {% for testResult in day.tests %}
          {% set testCost = testCost + testResult.test.cost %}
        {% endfor %}

      {% set testCost = testCost + app.session.flashBag.peek('diagnostic-cost-' ~ day.id)|first %}

      <div>Diagnostic cost: ${{ testCost }}</div>

        {% for medResult in day.medications %}
          {% set medCost = medCost + medResult.medication.cost %}
        {% endfor %}

      {% set medCost = medCost + app.session.flashBag.peek('therapeutic-cost-' ~ day.id)|first %}

      <div>Therapeutic cost: ${{ medCost }}</div>

      {% set totalCost = totalCost + testCost + medCost %}
    {% endfor %}

    <h4 class="subtitle is-4">Total Cost: ${{ totalCost }}</h4>

  </div>
{% endblock %}

{% block footer %}
  {% if app.session.get('page') == 'review' %}
    <div class="column is-two-thirds-desktop is-offset-one-third-desktop is-half-widescreen">
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>
  {% else %}
    <a href="{{ path(app.session.get('page')) }}">{{ app.session.get('page')|capitalize }}</a>
  {% endif %}
  {# else %}
    {% set page = app.session.get('page') %}
    {% if page == 'review' %}
      <a href="{{ path('nextDay') }}">Continue</a>
    {% else %}
      <a href="{{ path(page) }}">{{ page|capitalize }}</a>
    {% endif %}
  {% endif #}
{% endblock %}
