{#
	Review template

	Blocks:
		- scripts
		- body

	Variables:
		- user: AppBundle\Entity\User
		- finished: boolean
		- form: Symfony\Component\Form\FormView
#}

{% extends 'base.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script src="{{ asset('js/accordion.js') }}"></script>
	<script>
		$(function() {
			if( $('.new-result').length > 0 ) {
				$('#flashes').append('<div class="flash flash-success">New results available!</div>');
			}
		});
	</script>
{% endblock %}

{% block body %}
	{% for day in user.days %}
		{% set n = loop.index %}
		{% set elapsed = loop.length - loop.index %}

		<button class="accordion">Day {{ n }}</button>

		<div class="panel">
			<div id="hotspots">
				{% for spot in day.hotspotsinfo %}
					<li><em>{{ spot.hotspot.name }}:</em><span class="info">{{ spot.info|raw }}</span></li>
				{% endfor %}

				{% for flash in app.session.flashBag.peek('hotspot-' ~ day.id) %}
					<li><em>{{ flash }}:</em> No information available</li>
				{% endfor %}
			</div>

			<div id="testResults">
				{% for testResult in day.tests %}
					{% if testResult.waitTime and ( elapsed - testResult.waitTime == 0 or testResult.waitTime < elapsed ) %}
						<li {{ elapsed - testResult.waitTime == 0 ? 'class="new-result"' : '' }}><em>{{ testResult.test.name }}:</em><span class="info">{{ testResult.results|raw }}</span></li>
					{% elseif testResult.test.waitTime == 0 or testResult.test.waitTime < elapsed %}
						<li {{ elapsed - testResult.test.waitTime == 0 ? 'class="new-result"' : '' }}><em>{{ testResult.test.name }}:</em><span class="info">{{ testResult.results|raw }}</span></li>
					{% elseif finished %}
						<li><em>{{ testResult.test.name }}:</em><span class="info">{{ testResult.results|raw }}</span></li>
					{% else %}
						<li><em>{{ testResult.test.name }}:</em> Awaiting results.</li>
					{% endif %}
				{% endfor %}

				{% for flash in app.session.flashBag.peek('empty-diagnostic-results-' ~ day.id) %}
					<li><em>{{ flash }}:</em> No results available</li>
				{% endfor %}
			</div>

			<div id="medicationResults">
				{% for medResult in day.medications %}
					{% if medResult.waitTime and ( elapsed - medResult.waitTime == 0 or medResult.waitTime < elapsed ) %}
						<li {{ elapsed - medResult.waitTime == 0 ? 'class="new-result"' : '' }}><em>{{ medResult.medication.name }}:</em><span class="info">{{ medResult.results|raw }}</span></li>
					{% elseif elapsed - medResult.medication.waitTime == 0 or medResult.medication.waitTime < elapsed %}
						<li {{ elapsed - medResult.medication.waitTime == 0 }}><em>{{ medResult.medication.name }}:</em><span class="info">{{ medResult.results|raw }}</span></li>
					{% elseif finished %}
						<li><em>{{ medResult.medication.name }}:</em><span class="info">{{ medResult.results|raw }}</span></li>
					{% else %}
						<li><em>{{ medResult.medication.name }}:</em> Awaiting results.</li>
					{% endif %}
				{% endfor %}

				{% for flash in app.session.flashBag.peek('empty-therapeutic-results-' ~ day.id) %}
					<li><em>{{ flash }}:</em> No results available</li>
				{% endfor %}
			</div>
		</div>
	{% endfor %}

	{% if finished %}
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	{% else %}
		{% set page = app.session.get('page') %}
		{% if page == 'review' %}
			<a href="{{ path('nextDay') }}">Continue</a>
		{% else %}
			<a href="{{ path(page) }}">{{ page|capitalize }}</a>
		{% endif %}
	{% endif %}
{% endblock %}
