{% extends 'base.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(function() {
			if( $('.new-result').length > 0 ) {
				$('#flashes').append('<div class="flash flash-success">New results available!</div>');
			}
		});
	</script>
{% endblock %}

{% block body %}
	<div class="column">
    <nav class="panel">
      <p class="panel-heading">{{ user.caseStudy.title }}</p>

      {% for day in user.days %}
        {% set n = loop.index %}
        {% set elapsed = loop.length - loop.index %}

        <a id="day-{{ day.id }}" class="panel-block {% if loop.first %}is-active{% endif %}">
          <span class="panel-icon">
            <i class="fa fa-angle-right"></i>
          </span>
          Day {{ loop.index }}
        </a>
      {% endfor %}
    </nav>
	</div>

  <div class="column is-two-thirds">
    {% for day in user.days %}
      {% for spot in day.hotspotsinfo %}
        <em>{{ spot.hotspot.name }}:</em><span class="info">{{ spot.info|raw }}</span>
      {% endfor %}

      {% for flash in app.session.flashBag.peek('hotspot-' ~ day.id) %}
        <em>{{ flash }}:</em> No information available
      {% endfor %}

      {% for testResult in day.tests %}
        {% if testResult.waitTime and ( elapsed - testResult.waitTime == 0 or testResult.waitTime < elapsed ) %}
          <li {{ elapsed - testResult.waitTime == 0 ? 'class="new-result"' : '' }}><em>{{ testResult.test.name }}:</em><span class="info">{{ testResult.results|raw }}</span></li>
        {% elseif testResult.test.waitTime == 0 or testResult.test.waitTime < elapsed %}
          <li {{ elapsed - testResult.test.waitTime == 0 ? 'class="new-result"' : '' }}><em>{{ testResult.test.name }}:</em><span class="info">{{ testResult.results|raw }}</span></li>
        {% elseif finished %}
          <li><em>{{ testResult.test.name }}:</em><span class="info">{{ testResult.results|raw }}</span></li>
        {% else %}
          <li><em>{{ testResult.test.name }}:</em> Awaiting results.</li>
        {% endif %}
      {% endfor %}

      {% for flash in app.session.flashBag.peek('empty-diagnostic-results-' ~ day.id) %}
        <li><em>{{ flash }}:</em> No results available</li>
      {% endfor %}

      {% for medResult in day.medications %}
        {% if medResult.waitTime and ( elapsed - medResult.waitTime == 0 or medResult.waitTime < elapsed ) %}
          <li {{ elapsed - medResult.waitTime == 0 ? 'class="new-result"' : '' }}><em>{{ medResult.medication.name }}:</em><span class="info">{{ medResult.results|raw }}</span></li>
        {% elseif elapsed - medResult.medication.waitTime == 0 or medResult.medication.waitTime < elapsed %}
          <li {{ elapsed - medResult.medication.waitTime == 0 }}><em>{{ medResult.medication.name }}:</em><span class="info">{{ medResult.results|raw }}</span></li>
        {% elseif finished %}
          <li><em>{{ medResult.medication.name }}:</em><span class="info">{{ medResult.results|raw }}</span></li>
        {% else %}
          <li><em>{{ medResult.medication.name }}:</em> Awaiting results.</li>
        {% endif %}
      {% endfor %}

      {% for flash in app.session.flashBag.peek('empty-therapeutic-results-' ~ day.id) %}
        <li><em>{{ flash }}:</em> No results available</li>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock %}

{% block footer %}
  {% if finished %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  {% else %}
    {% set page = app.session.get('page') %}
    {% if page == 'review' %}
      <a href="{{ path('nextDay') }}">Continue</a>
    {% else %}
      <a href="{{ path(page) }}">{{ page|capitalize }}</a>
    {% endif %}
  {% endif %}
{% endblock %}
