{% extends 'admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <link href="{{ asset('css/imgareaselect/imgareaselect-default.css') }}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
  {{ parent() }}

  <script src="{{ asset('js/jquery.imgareaselect.pack.js') }}"></script>
  <script src="{{ asset('js/hotspots.js') }}"></script>
  <script>
    $(function() {
      $(window).resize(function() {
        {% for hotspot in animal.hotspots %}
          $('div.hotspot#{{ hotspot.id }}').css({"top": $('div#image').innerHeight() * {{ hotspot.y1|number_format(2) }} + "px", "left": $('div#image').innerWidth() * {{ hotspot.x1|number_format(2) }} + "px", "height": $('div#image').innerHeight() * {{ hotspot.height|number_format(2) }} + "px", "width": $('div#image').innerWidth() * {{ hotspot.width|number_format(2) }} + "px" });
        {% endfor %}
      });

      $('#animal').ready(function() {
        $(window).resize();
      });
    });
  </script>
{% endblock %}

{% block body %}
  <div class="column is-3-desktop">
    {{ form_start(form, {'attr': {'id': 'admin_animal_form'}} ) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>

  {% if animal %}
    {% set class = 'is-1by1' %}
    {% set closest = 3 %}
    {% set ratio = (size[0] / size[1])|number_format(3) %}

    {% if (1.33 - ratio)|abs < closest %}
      {% set class = 'is-4by3' %}
      {% set closest = (1.33 - ratio)|abs %}
    {% endif %}
    {% if (1.50 - ratio)|abs < closest %}
      {% set class = 'is-3by2' %}
      {% set closest = (1.50 - ratio)|abs %}
    {% endif %}
    {% if (1.77 - ratio)|abs < closest %}
      {% set class = 'is-16by9' %}
      {% set closest = (1.77 - ratio)|abs %}
    {% endif %}
    {% if (2 - ratio)|abs < closest %}
      {% set class = 'is-2by1' %}
    {% endif %}

    <div class="column is-half-desktop">
      <div id="image" class="image {{ class }}">
        <img id="animal" src="{{ asset('images/' ~ animal.image) }}" data-id="{{ animal.id }}" />
        {% for hotspot in animal.hotspots %}
          <div id="{{ hotspot.id }}" class="hotspot {{ hotspot.name|lower|replace({' ': '-'}) }}" style="background: rgba(255,255,255,.4); position: absolute;"></div>
        {% endfor %}
      </div>
      <div id="x1" style="display: none"></div>
      <div id="y1" style="display: none"></div>
      <div id="x2" style="display: none"></div>
      <div id="y2" style="display: none"></div>
    </div>

    <div id="hotspots" class="column is-3-desktop">
      {% for hotspot in animal.hotspots %}
        <div class="hotspot {{ hotspot.name|lower|replace({' ': '-'}) }}">{{ hotspot.name }} <a href="{{ path('removeHotspot', {'animal': animal.id, 'hotspot': hotspot.id }) }}" onclick="return confirmDelete();">Remove</a></div>
      {% endfor %}
    </div>

    <div class="column is-half is-offset-3-desktop">
      <input type="text" id="name" class="input"></input>
      <button id="addHotspot" class="button is-success">Save</button>
    </div>
  {% endif %}
{% endblock %}

{% block footer %}{% endblock %}
