{#
/**
 * Available variables
 * -------------------
 *
 * {{ form }} - AppBundle/Form/AnimalType
 * {{ animal }} - AppBundle/Entity/Animal
 * {{ size }} - array( 0 => height, 1 => width )
 */
#}

{% extends 'admin.html.twig' %}

{% block scripts %}
  {{ parent() }}

  <script src="{{ asset('js/jquery.canvasAreaDraw.js') }}"></script>
  <script src="{{ asset('js/hotspots.js') }}"></script>
  <script>
    var hotspotList = [];

    function onImagesDone() {
      $('body').append('<canvas id="canvas-hidden"></canvas>');

      $('#canvas-hidden').attr({height: $('#canvas-default').height(), width: $('#canvas-default').width(), style: "display: none;"});

      {% if animal is not null %}
        {% for hotspot in animal.hotspots %}
          var coords{{ hotspot.id }} = {{ "[" ~ hotspot.coords|join(",") ~ "]" }}

          coords{{ hotspot.id }}.forEach(function(item, index) {
    				if( index % 2 ) {
    					coords{{ hotspot.id }}[index] = item * $('canvas').height();
    				} else {
    					coords{{ hotspot.id }}[index] = item * $('canvas').width();
    				}
    			});

          var newHotspot = new hotspot({{ hotspot.id }}, coords{{ hotspot.id }}, "rgb(#,#,#)".replace(/#/g, hotspotList.length + 1));

          hotspotList.push( newHotspot );
          newHotspot.draw();

          $('#hotspots').append('<div id="hotspot-{{ hotspot.id }}" class="hotspot {{ hotspot.name|lower|replace({' ': '-'}) }}">{{ hotspot.name }} <a href="{{ path("removeHotspot", {'animal': animal.id, 'hotspot': hotspot.id}) }}" onclick="return confirmDelete();"><span class="icon has-text-danger"><i class="fas fa-trash"></i></span></a></div>');
        {% endfor %}

        $.data(document.body, "hotspots", hotspotList);
      {% endif %}
    }

    $(function() {
      $("#canvas-default").imagesLoaded({background:true}).done(onImagesDone);
    });
  </script>
{% endblock %}

{% block body %}
  <div class="column is-3-desktop">
    {{ form_start(form, {'attr': {'id': 'admin_animal_form'}} ) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>

  {% if animal %}
    <div class="column is-full">
      <div class="box">
        Define hotspots by clicking on the image below. The reset button clears any points on the image.
      </div>
    </div>

    <div class="column is-full">
      <textarea class="canvas-area" data-id="{{ animal.id }}" data-image="{{ asset('images/' ~ animal.image) }}" style="display: none;"></textarea>
    </div>

    <div id="hotspots" class="column is-3"></div>
    <div class="column is-9"></div>

    <div class="column is-half">
      <input type="text" id="name" class="input"></input>
      <button id="addHotspot" class="button is-success">Save</button>
    </div>
  {% endif %}
{% endblock %}

{% block footer %}{% endblock %}
