{% extends 'admin.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <link href="{{ asset('css/imgareaselect/imgareaselect-default.css') }}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
  {{ parent() }}

  <script src="{{ asset('js/jquery.imgareaselect.pack.js') }}"></script>
  <script src="{{ asset('js/hotspots.js') }}"></script>
{% endblock %}

{% block body %}
  {{ form_start(form, {'attr': {'id': 'admin_animal_form'}} ) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}

  {% if animal %}
    <h2 class="animal_hotspot_label">Hotspots</h2>

    <div id="image" style="position: relative; height: 600px;">
      <img id="animal" src="{{ asset('images/' ~ animal.image) }}" data-id="{{ animal.id }}" style="position: absolute" />
      {% for hotspot in animal.hotspots %}
        <div class="hotspot {{ hotspot.name|lower|replace({' ': '-'}) }}" style="background: rgba(255,255,255,.4); position: absolute; top: {{ hotspot.y1 }}px; left: {{ hotspot.x1 }}px; height: {{ hotspot.height }}px; width: {{ hotspot.width }}px;"></div>
      {% endfor %}
    </div>
    <div id="x1" style="display: none"></div>
    <div id="y1" style="display: none"></div>
    <div id="x2" style="display: none"></div>
    <div id="y2" style="display: none"></div>
    <input type="text" id="name" class="input"></input>
    <button id="addHotspot" class="button is-success">Save</button>
    <div id="hotspots">
      {% for hotspot in animal.hotspots %}
        <div class="hotspot {{ hotspot.name|lower|replace({' ': '-'}) }}">{{ hotspot.name }} <a href="{{ path('removeHotspot', {'animal': animal.id, 'hotspot': hotspot.id }) }}" onclick="return confirmDelete();">Remove</a></div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block footer %}{% endblock %}
