{#
/**
 * Available variables
 * -------------------
 *
 * {{ form }} - AppBundle/Form/AnimalType
 * {{ animal }} - AppBundle/Entity/Animal
 * {{ size }} - array( 0 => height, 1 => width )
 */
#}

{% extends 'admin.html.twig' %}

{% block scripts %}
  {{ parent() }}

  <script src="{{ asset('js/jquery.canvasAreaDraw.js') }}"></script>
  <script src="{{ asset('js/hotspots.js') }}"></script>
  <script>
    var hotspotList = [];

    function onImagesDone() {
      $('body').append('<canvas id="canvas-hidden"></canvas>');

      $('#canvas-hidden').attr({height: $('#canvas-default').height(), width: $('#canvas-default').width(), style: "display: none;"});

      {% if animal is not null %}
        {% for hotspot in animal.hotspots %}
          var coords{{ hotspot.id }} = {{ "[" ~ hotspot.coords|join(",") ~ "]" }}

          coords{{ hotspot.id }}.forEach(function(item, index) {
            if( index % 2 ) {
              coords{{ hotspot.id }}[index] = item * $('canvas').height();
            } else {
              coords{{ hotspot.id }}[index] = item * $('canvas').width();
            }
          });

          var newHotspot = new hotspot(coords{{ hotspot.id }}, "rgb(#,#,#)".replace(/#/g, hotspotList.length + 1));

          hotspotList.push( newHotspot );
          newHotspot.draw();
        {% endfor %}

        $.data(document.body, "hotspots", hotspotList);
      {% endif %}
    }

    $(function() {
      $("#image").imagesLoaded({background:true}).done(onImagesDone);
    });
  </script>
{% endblock %}

{% block body %}
  <div class="column is-3-desktop">
    {{ form_start(form, {'attr': {'id': 'admin_animal_form'}} ) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>

  {% if animal %}
    {% set class = '' %}
    {% set closest = 3 %}
    {% set ratio = (size[0] / size[1])|number_format(3) %}

    {% if (1.00 - ratio)|abs < closest %}
      {% set class = 'is-1by1' %}
      {% set closest = (1.33 - ratio)|abs %}
    {% endif %}
    {% if (1.33 - ratio)|abs < closest %}
      {% set class = 'is-4by3' %}
      {% set closest = (1.33 - ratio)|abs %}
    {% endif %}
    {% if (1.50 - ratio)|abs < closest %}
      {% set class = 'is-3by2' %}
      {% set closest = (1.50 - ratio)|abs %}
    {% endif %}
    {% if (1.77 - ratio)|abs < closest %}
      {% set class = 'is-16by9' %}
      {% set closest = (1.77 - ratio)|abs %}
    {% endif %}
    {% if (2 - ratio)|abs < closest %}
      {% set class = 'is-2by1' %}
    {% endif %}

    <div class="column is-half-desktop">
      <textarea class="canvas-area" data-id="{{ animal.id }}" data-image="{{ asset('images/' ~ animal.image) }}" style="display: none;"></textarea>
    </div>

    <div class="column is-half is-offset-3-desktop">
      <input type="text" id="name" class="input"></input>
      <button id="addHotspot" class="button is-success">Save</button>
    </div>
  {% endif %}
{% endblock %}

{% block footer %}{% endblock %}
