{% extends 'admin.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(function(){
			updateAdminCase({{ app.session.remove('case') }});
		});
	</script>
{% endblock %}

{% block body %}
	<div class="column is-12">
		<a class="button is-pulled-right is-primary" href="{{ path('createCase') }}">Create a new case</a>

		{{ form_label(form.case) }}
		{{ form_errors(form.case) }}
		{{ form_widget(form.case, {'attr': {'onchange': 'updateAdminCase()'}} ) }}
	</div>

	<div id="caseInfo" class="column"></div>
{% endblock %}

{% block footer %}
	<div class="column">
		<div class="level">
			<div class="level-left"></div>
			<div class="level-right">
				{# <button id="undo" class="button" type="button" style="display:none">Undo</button> #}
			</div>
		</div>
	</div>
{% endblock %}
