{#
/**
 * Available variables
 * -------------------
 *
 * {{ form }} - AppBundle/Form/AdminType
 */
#}

{% extends 'admin.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(function(){
			updateAdminCase({{ app.session.remove('case') }});

			$('body').append('<div id="link_tab" style="position: fixed;top: 3.5rem;left: 0;border-radius: 0 30px 30px 0;height: 90px;width: 25px;background: lightgrey;box-shadow: 0px 0px 20px 0px black;"></div>')
			$('#link_tab').append('<div style="position: absolute;height: 25px; width: 50px;right: 0;top: 70px;text-align: center;transform: rotate(90deg);transform-origin: top right 0;">Links</div>')
		});
	</script>
{% endblock %}

{% block body %}
	<div class="column is-12">
		<a class="button is-pulled-right is-primary" href="{{ path('createCase') }}">Create a new case</a>

		{{ form_label(form.case) }}
		{{ form_errors(form.case) }}
		{{ form_widget(form.case, {'attr': {'onchange': 'updateAdminCase()'}} ) }}
	</div>

	<div id="caseInfo" class="column">
		<div style="display:flex;justify-content:center;align-items:center;height:200px;">
			<span class="icon"><i class="fas fa-spinner fa-pulse"></i></span>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<div class="column">
		<div class="level">
			<div class="level-left"></div>
			<div class="level-right">
				{# <button id="undo" class="button" type="button" style="display:none">Undo</button> #}
			</div>
		</div>
	</div>
{% endblock %}
