{% extends 'admin.html.twig' %}

{% block scripts %}
	{{ parent() }}

	<script>
		$(function(){
			updateAdminCase({{ app.session.remove('case') }});
		});
	</script>
{% endblock %}

{% block body %}
	<div class="columns">
		<a class="button is-pulled-right is-primary" href="{{ path('createCase') }}">Create a new case</a>

		{{ form_label(form.case) }}
		{{ form_errors(form.case) }}
		{{ form_widget(form.case, {'attr': {'onchange': 'updateAdminCase()'}} ) }}
	</div>

	<div id="caseInfo" class="columns"></div>
{% endblock %}

{% block footer %}
	<button id="undo" class="button is-right" type="button">Undo</button>
{% endblock %}
