{#
/**
 * Available variables
 * -------------------
 *
 * {{ form }} - form type depends on which route is matched in AppBundle/Controller/AdminController
 * {{ route }} - string
 */
#}

{% extends 'admin.html.twig' %}

{% block body %}
  {{ form_start(form, {'attr': {'id': 'admin_manage_form'}} ) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}

  {% if route %}
    <a class="button is-primary" style="margin-top: 1rem;" href="{{ path(route) }}">Create</a>
  {% endif %}
{% endblock %}
