{#
/**
 * Available variables
 * -------------------
 *
 * {{ animal }} - AppBundle/Entity/Animal
 * {{ hId }} - id of the HotSpot that was just added/edited
 */
#}

<div id="hotspot-id" style="display:none;">
  {{ hId }}
</div>

{% for hotspot in animal.hotspots %}
  <div id="hotspot-{{ hotspot.id }}" class="hotspot {{ hotspot.name|lower|replace({' ': '-'}) }}">
    {{ hotspot.name }} <a href="{{ path('removeHotspot', {'animal': animal.id, 'hotspot': hotspot.id }) }}" onclick="return confirmDelete()">
      <span class="icon has-text-danger"><i class="fas fa-trash"></i></span>
    </a>
  </div>
{% endfor %}
