{% for hotspot in animal.hotspots %}
  <div class="hotspot {{ hotspot.name|lower }}">{{ hotspot.name }}: ({{ hotspot.x1 }}, {{ hotspot.y1 }}), ({{ hotspot.x2 }}, {{ hotspot.y2 }}) <a href="{{ path('removeHotspot', {'animal': animal.id, 'hotspot': hotspot.id }) }}" onclick="return confirmDelete()">Remove</a></div>
{% endfor %}
