{#
	Base admin template

	Blocks:
		- stylesheets
		- header
		- body
		- footer

	Variables:
		- form: Symfony\Component\Form\FormView
#}

{% extends 'base.html.twig' %}

{% block body %}
	{% if form %}
		{{ form_start(form, {'attr': {'id': 'admin_form'}} ) }}

			{% if form.vars.name == "user" %}
				{{ form_row(form.email) }}
				{{ form_row(form.username) }}
				{{ form_row(form.uin) }}
				{{ form_row(form.plainPassword) }}
				{{ form_row(form.newPassword) }}
				{{ form_row(form.role) }}

				{{ form_rest(form) }}

				{% if form.vars.data.hasResults() %}
					<a href="{{ path('editUserResults', {'id': form.vars.data.id }) }}">View user's results</a>
				{% endif %}
			{% else %}
				{{ form_widget(form) }}
			{% endif %}

		{{ form_end(form) }}

	{% endif %}
{% endblock %}

{% block footer %}
	<script>
		moveSubmits();
	</script>
{% endblock %}
